// font imports

@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// css colour variables

:root {
  // primary colours

  --darkCyan: hsl(185, 75%, 39%);
  --veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
  --darkGrayishBlue: hsl(227, 10%, 46%);

  // neutral colours

  --darkGray: hsl(0, 0%, 59%);
}

// universal styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 0.938rem;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--darkCyan);
}

// .background-wrapper & circles styles

.background-wrapper {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.circle-1,
.circle-2 {
  height: 700px;
  width: 700px;
  position: absolute;
}

.circle-1 {
  top: -45%;
  left: -165%;
}

.circle-2 {
  top: 55%;
  right: -160%;
}

// .profile-card styles

.card-container {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-card {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}

.profile-card--bio {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1px solid rgba(106, 111, 129, 0.2);
}

.profile-card--bio img {
  border-radius: 50%;
  border: 5px solid #fff;
  margin: -19% 0 1rem;
}

.profile-card--bio h3 {
  padding-bottom: 0.5rem;
  color: var(--veryDarkDesaturatedBlue);
}

.profile-card--bio span {
  padding-left: 0.3rem;
  font-weight: 400;
  color: var(--darkGrayishBlue);
}

.location {
  font-size: 0.86rem;
  font-weight: 400;
  color: var(--darkGrayishBlue);
  padding-bottom: 1.3rem;
}

.profile-card--statistics {
  width: 270px;
  padding: 1.6rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-card--statistics h3 {
  padding-bottom: 0.4rem;
  font-weight: 700;
  color: var(--veryDarkDesaturatedBlue);
}

.profile-card--statistics p {
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: var(--darkGrayishBlue);
}

// media queries

// 375px screen width

@media screen and (min-width: 375px) {
  .circle-1 {
    top: -45%;
    left: -135%;
  }

  .circle-2 {
    top: 50%;
    right: -130%;
  }

  .profile-card {
    width: 325px;
  }

  .profile-card--bio {
    width: 325px;
  }

  .profile-card--bio img {
    margin: -17% 0 1rem;
  }
}

// 768px screen width

@media screen and (min-width: 768px) {
  .circle-1,
  .circle-2 {
    height: 900px;
    width: 900px;
    position: absolute;
  }

  .circle-1 {
    top: -65%;
    left: -65%;
  }

  .circle-2 {
    top: 55%;
    right: -60%;
  }
}

// 1440px screen width

@media screen and (min-width: 1440px) {
  .circle-1,
  .circle-2 {
    height: 900px;
    width: 900px;
    position: absolute;
  }

  .circle-1 {
    top: -57%;
    left: -12%;
  }

  .circle-2 {
    top: 50%;
    right: -13%;
  }

  .profile-card {
    width: 350px;
  }

  .profile-card--bio {
    width: 350px;
  }

  .profile-card--bio img {
    border-radius: 50%;
    border: 5px solid #fff;
    margin: -15% 0 1rem;
  }

  .profile-card--statistics {
    width: 270px;
    padding: 1.6rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
